[flake8]
ignore =
	BLK100,  # Black would make changes
	C901,  # Function is too complex
	E126,  # Continuation line over-indented for hanging indent
	E128,  # Continuation line under-indented for visual indent
	E265,  # Block comment should start with '# '
	E402,  # Module level import not at top of file
	E704,  # Multiple statements on one line (def)
	N802,  # Function name should be lowercase
	N803,  # Argument name should be lowercase
	N806,  # Variable in function should be lowercase
	N815,  # MixedCase variable in class scope
	N816,  # MixedCase variable in global scope
	W503,  # Line break before binary operator
	W504,  # Line break after binary operator
	W605,  # Invalid escape sequence
	T000
max-line-length = 88
exclude = tests/*,shared-venv
max-complexity = 10

