*.pyc
*.pyo
*.rej
*.swp
.DS_Store

/.project
/.pydevproject
*.egg-info
.eggs/
/build/
/dist/
/venv/
*.sublime-*
pip-wheel-metadata

# Ignore the majority of the docs folder
/docs/*
!/docs/
/docs/source/*
!/docs/source/
!/docs/source/conf.py
!/docs/source/index.rst

# Used by the ci
.cache/
downloads/
shared-venv/
.tox/

# /preditor
/preditor/version.py

# Coverage
.coverage
