DocumentEditor {
	qproperty-pyMarginsForegroundColor: rgb(202, 202, 202);
	qproperty-pyMarginsBackgroundColor: rgb(70, 70, 73);
	qproperty-pySelectionBackgroundColor: rgb(90, 90, 93);
	qproperty-pySelectionForegroundColor: rgb(240, 240, 240);
	qproperty-pyCaretBackgroundColor: rgb(70, 70, 73);
	qproperty-pyCaretForegroundColor: rgb(255, 255, 255);
	qproperty-pyMatchedBraceBackgroundColor: rgb(60, 60, 63);
	qproperty-pyMatchedBraceForegroundColor: rgb(240, 240, 240);
	qproperty-pyUnmatchedBraceBackgroundColor: rgb(70, 70, 73);
	qproperty-pyUnmatchedBraceForegroundColor: rgb(200, 180, 180);
	qproperty-pyEdgeColor: rgb(100, 45, 45);

	qproperty-pyIndentationGuidesBackgroundColor: rgb(70, 70, 73);
	qproperty-pyIndentationGuidesForegroundColor: rgb(102, 153, 204);
	qproperty-pyMarkerBackgroundColor: rgb(45, 255, 45);
	qproperty-pyMarkerForegroundColor: rgb(200, 0, 200);
	qproperty-foldMarginsBackgroundColor: rgb(60, 60, 63);
	qproperty-foldMarginsForegroundColor: rgb(60, 60, 63);
	qproperty-braceBadForeground: rgb(255, 255, 255);
	qproperty-braceBadBackground: rgb(100, 60, 60);

	qproperty-colorDefault: rgb(102, 153, 204);
	qproperty-colorComment: rgb(153, 153, 153);
	qproperty-colorNumber: rgb(249, 145, 87);
	qproperty-colorString: rgb(153, 204, 153);
	qproperty-colorKeyword: rgb(204, 153, 204);
	qproperty-colorTripleQuotedString: rgb(220, 204, 153);
	qproperty-colorMethod: rgb(255, 204, 102);
	qproperty-colorFunction: rgb(132, 203, 255);
	qproperty-colorOperator: rgb(204, 204, 204);
	qproperty-colorIdentifier: rgb(102, 153, 204);
	qproperty-colorCommentBlock: rgb(117, 113, 94);
	qproperty-colorUnclosedString: rgb(255, 255, 255);
	qproperty-colorSmartHighlight: rgb(255, 255, 255);
	qproperty-colorDecorator: rgb(240, 100, 102);
	qproperty-paperDefault: rgb(70, 70, 73);
	qproperty-paperComment: rgb(70, 70, 73);
	qproperty-paperNumber: rgb(70, 70, 73);
	qproperty-paperString: rgb(70, 70, 73);
	qproperty-paperKeyword: rgb(70, 70, 73);
	qproperty-paperTripleQuotedString: rgb(70, 70, 73);
	qproperty-paperMethod: rgb(70, 70, 73);
	qproperty-paperFunction: rgb(70, 70, 73);
	qproperty-paperOperator: rgb(70, 70, 73);
	qproperty-paperIdentifier: rgb(70, 70, 73);
	qproperty-paperCommentBlock: rgb(70, 70, 73);
	qproperty-paperUnclosedString: rgb(100, 60, 60);
	qproperty-paperSmartHighlight: rgba(75, 180, 0, 25);
	qproperty-paperDecorator: rgb(70, 70, 73);
}


QToolButton[toolTip="Next"], QToolButton[toolTip="Step"], QSpinBox#uiPdbExecuteCountDDL {
	/* Give the pdb buttons that respect the uiPdbExecuteCountDDL a different color */
	background-color: rgb(210,200,160);
}

ConsoleEdit {
	color: rgb(255, 255, 255);
	background-color: rgb(70, 70, 73);
}
