QMainWindow, QDialog, QWidget { 
	background-color: rgb(145,145,145);
	color: rgb(30,30,30); 
}

QMainWindow:disabled, QDialog:disabled, QWidget:disabled {
	color: rgb(90, 90, 90);
}

QMenu {
	border-style: solid;
	border-color: rgb(80,80,80);
	border-width: 1px;
}

QListView, QTableView, QTreeView, QLineEdit, QTextEdit, QPlainTextEdit, QAbstractSpinBox {
	background-color: rgb(90,90,90); 
	color: rgb(200,200,200);
	alternate-background-color: rgb(83,83,83);  
}

QMenu, QListView, QComboBox, QTableView, QTreeView, QLineEdit, QTextEdit, QPlainTextEdit, QAbstractSpinBox {
	selection-background-color: rgb(255,170,0);
}

QComboBox:editable {
	background-color: rgb(80,80,80);
	color: rgb(200,200,200);
}

QListView:disabled, QComboBox:disabled, QTableView:disabled, QTreeView:disabled, QLineEdit:disabled, QTextEdit:disabled, 
QPlainTextEdit:disabled, QAbstractSpinBox:disabled {
	background-color: rgb(70, 70, 70); 
	color: rgb(90, 90, 90);
	alternate-background-color: rgb(63, 63, 63);  
}

QPushButton:checked, QPushButton:pressed, QToolButton:checked, QToolButton:pressed {
	background-color: rgb(120,120,120);
}

/*QCheckBox::indicator {
	border: 1px solid rgb(95,95,95);
}*/

/*QGroupBox {
	border: 1px solid rgb(95,95,95);
	border-radius: 3px;
	margin-top:9px;
}

QGroupBox::title {
	font-weight: bold;
	margin: -40px 20px;
	padding: 0;
	margin-top: -10px;
	margin-left: 20px;
}*/

HintHelper {
	background-color: rgba(0,0,0,0);
}

/*Style Treegrunt's environment helper colors*/
QComboBox#uiEnvironmentDDL {
	background: rgb(200, 131, 0, 150);
}

QComboBox#uiEnvironmentDDL[defaultTreegruntEnv="true"] {
	background: rgb(0, 200, 0, 150);
}