LoggerWindow *, IdeEditor * { 
	background-color: rgb(35,35,35); 
	color: rgb(215,215,215);
}

/*Menus and Actions*/
LoggerWindow QMenuBar, IdeEditor QMenuBar {
	background-color: qlineargradient(x1:0, y1:0, x2:1, y2:1,
									  stop:0 rgb(95,95,95), stop:1 rgb(80,80,80));
}

LoggerWindow QMenuBar::item:selected, IdeEditor QMenuBar::item:selected {
	background-color: qlineargradient(x1:0, y1:0, x2:1, y2:1,
									  stop:0 rgb(81,88,95), stop:1 rgb(68,74,80));
}

LoggerWindow QMenuBar::item:hover, IdeEditor QMenuBar::item:hover {
	background-color: qlineargradient(x1:0, y1:0, x2:1, y2:1,
									  stop:0 rgb(81,88,95), stop:1 rgb(68,74,80));
	border-style: solid;
	border-color: rgb(215,215,215);
	border-width: 1px;		
	border-radius: 2px;
}


LoggerWindow QMenu, IdeEditor QMenu {
	border-style: solid;
	border-color: rgb(40,40,40);
	border-width: 1px;
	background-color: rgb(110,110,110);
}

LoggerWindow QMenu::separator, IdeEditor QMenu::separator {
	background-color: rgb(215,215,215);
	
}

LoggerWindow QMenu::icon, IdeEditor QMenu::icon {
    border: 2px inset transparent;
}

LoggerWindow QMenu::icon:checked, IdeEditor QMenu::icon:checked {
    background-color: rgb(50,150,255);
    border: 2px inset rgb(50,150,255);
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
}

LoggerWindow QTabBar::tab:selected, IdeEditor QTabBar::tab:selected, 
LoggerWindow QTabBar::tab:hover, IdeEditor QTabBar::tab:hover {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
		stop: 0 rgb(100, 100, 100),
		stop: 0.8 rgb(40, 40, 40)
	);
}

LoggerWindow QListView, 
IdeEditor QListView, 
LoggerWindow QTableView, 
IdeEditor QTableView, 
LoggerWindow QTreeView, 
IdeEditor QTreeView, 
LoggerWindow QComboBox, 
IdeEditor QComboBox, 
LoggerWindow QLineEdit, 
IdeEditor QLineEdit, 
LoggerWindow QTextEdit, 
IdeEditor QTextEdit, 
LoggerWindow QPlainTextEdit, 
IdeEditor QPlainTextEdit, 
LoggerWindow QAbstractSpinBox,
IdeEditor QAbstractSpinBox,
LoggerWindow QSlider::sub-page,
IdeEditor QSlider::sub-page,
LoggerWindow QSlider::add-page
IdeEditor QSlider::add-page {
	background-color: rgb(80,80,80); 
	color: rgb(200,200,200); 
}

LoggerWindow QListView, LoggerWindow QTableView, LoggerWindow QTreeView,
IdeEditor QListView, IdeEditor QTableView, IdeEditor QTreeView { 
	alternate-background-color: rgb(95,95,95); 
}

LoggerWindow QListView:disabled, LoggerWindow QTableView:disabled, LoggerWindow QTreeView:disabled,
IdeEditor QListView:disabled, IdeEditor QTableView:disabled, IdeEditor QTreeView:disabled { 
	alternate-background-color: rgb(55,55,55); 
}

LoggerWindow QPushButton, IdeEditor QPushButton {
	background-color: qlineargradient(x1:0, y1:0, x2:1, y2:1,
									  stop:0 rgb(65,65,65), stop:1 rgb(50,50,50));
	border-style:  solid;
	border-color: rgb(15,15,15);
	border-width: 1px;
	border-radius: 2px;
	min-height: 20px;
	min-width: 50px;
}

ConsoleEdit {
	qproperty-pyErrorMessageColor: #eb3f06;
	qproperty-pyForegroundColor: rgb(160, 222, 255);
	qproperty-pyStdoutColor: rgb(153, 204, 153);
	qproperty-pyCommentColor: rgb(175, 175, 175);
	qproperty-pyKeywordColor: rgb(204, 153, 204);
	qproperty-pyStringColor: rgb(153, 204, 153);
	background-color: rgb(80, 80, 80);
}
DocumentEditor {
	qproperty-pyMarginsForegroundColor: rgb(100, 180, 180);
	qproperty-pyMarginsBackgroundColor: rgb(45, 45, 45);
	qproperty-pySelectionBackgroundColor: rgb(70, 70, 70);
	qproperty-pySelectionForegroundColor: rgb(240, 240, 240);
	qproperty-pyCaretBackgroundColor: rgb(45, 45, 45);
	qproperty-pyCaretForegroundColor: rgb(255, 255, 255);
	qproperty-pyMatchedBraceBackgroundColor: rgb(60, 60, 60);
	qproperty-pyMatchedBraceForegroundColor: rgb(240, 240, 240);
	qproperty-pyUnmatchedBraceBackgroundColor: rgb(45, 45, 45);
	qproperty-pyUnmatchedBraceForegroundColor: rgb(200, 180, 180);
	qproperty-pyEdgeColor: rgb(100, 45, 45);

	qproperty-pyIndentationGuidesBackgroundColor: rgb(45, 45, 45);
	qproperty-pyIndentationGuidesForegroundColor: rgb(102, 153, 204);
	qproperty-pyMarkerBackgroundColor: rgb(45, 255, 45);
	qproperty-pyMarkerForegroundColor: rgb(200, 0, 200);
	qproperty-foldMarginsBackgroundColor: rgb(35, 35, 35);
	qproperty-foldMarginsForegroundColor: rgb(35, 35, 35);
	qproperty-braceBadForeground: rgb(255, 255, 255);
	qproperty-braceBadBackground: rgb(100, 60, 60);
	
	qproperty-colorDefault: rgb(102, 153, 204);
	qproperty-colorComment: rgb(153, 153, 153);
	qproperty-colorNumber: rgb(249, 145, 87);
	qproperty-colorString: rgb(153, 204, 153);
	qproperty-colorKeyword: rgb(204, 153, 204);
	qproperty-colorTripleQuotedString: rgb(220, 204, 153);
	qproperty-colorMethod: rgb(255, 204, 102);
	qproperty-colorFunction: rgb(132, 203, 255);
	qproperty-colorOperator: rgb(204, 204, 204);
	qproperty-colorIdentifier: rgb(102, 153, 204);
	qproperty-colorCommentBlock: rgb(117, 113, 94);
	qproperty-colorUnclosedString: rgb(255, 255, 255);
	qproperty-colorSmartHighlight: rgb(255, 255, 255);
	qproperty-colorDecorator: rgb(240, 100, 102);
	qproperty-paperDefault: rgb(45, 45, 45);
	qproperty-paperComment: rgb(45, 45, 45);
	qproperty-paperNumber: rgb(45, 45, 45);
	qproperty-paperString: rgb(45, 45, 45);
	qproperty-paperKeyword: rgb(45, 45, 45);
	qproperty-paperTripleQuotedString: rgb(45, 45, 45);
	qproperty-paperMethod: rgb(45, 45, 45);
	qproperty-paperFunction: rgb(45, 45, 45);
	qproperty-paperOperator: rgb(45, 45, 45);
	qproperty-paperIdentifier: rgb(45, 45, 45);
	qproperty-paperCommentBlock: rgb(45, 45, 45);
	qproperty-paperUnclosedString: rgb(100, 60, 60);
	qproperty-paperSmartHighlight: rgb(120,120, 80);
	qproperty-paperDecorator: rgb(45, 45, 45);
}

ConsoleEdit[pyPdbMode="true"] {
	/* Change the selection color of the console when in pdb mode */
	selection-background-color: rgb(0, 255, 0);
	selection-color: rgb(0, 0, 0);
}