
/*QMainWindow::separator{
 background-color: #FF0;
/*   color: #F00;*/
/* selection-color: #0F0;*/
/* selection-background-color: #0F0;
}*/

QDockWidget::title {
 background-color: #2D2D2E;
/* color: #F00;*/
/* selection-color: #0F0;
 selection-background-color: #00F;  */
}

QDockWidget::close-button, QDockWidget::float-button {
    border: 1px solid transparent;
    background-color: #2d2d2e;
    padding: 0px;
}

QWidget {
   background-color: #2D2D2E;
   color: #ACACAC;
   font-family: "Segoe UI";
   selection-color: #FFFFFF;
   /*Colin Design Color*/
   /*selection-background-color: #0095FF;*/

   /*Nuke Color*/
   /*selection-background-color: #f1911f;*/

   selection-background-color: #e58a1f;
}

QWidget::handle {
    background-color: #2d2d2e;
/*    width: 10px; /* when vertical
    height: 10px; /* when horizontal */
}

/*QMainWindow::separator {
  color: #37383b;
    background: #37383b;
    width: 10px;
    height: 10px;
}*/

/*QMainWindow::separator:hover {
    background: #37383b;
}*/

QMainWindow::separator
{
    background-color: #2d2d2e; /*#31363b;*/
    color: white;
    padding-left: 4px;
    spacing: 2px;
    border: 1px dashed #76797C; /*#76797C;*/
}

QMainWindow::separator:hover
{

    background-color: #787876;
    color: white;
    padding-left: 4px;
    border: 1px solid #76797C;
    spacing: 2px;
}

/*QComboBox {
   border: 1px solid #1C1C1E;
   border-radius:  2px;
   color: #ACACAC;
   background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #2A2A2D, stop: 1.0 #212123);
   padding: 0px 4px 0px 4px;
   margin: 1px 1px 1px 1px;
}

QComboBox::drop-down {
   border: 0px;
   border-left: 1px solid #1C1C1E;
}*/

QPushButton, QToolButton {
   /*background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #3C3C3F, stop: 1.0 #2D2D30);*/
   border: 1px solid #07070B;
   border-radius: 2px;
   padding: 3px;
}

QPushButton:pressed, QToolButton:pressed {
  border: 1px solid #e58a1f;
}

QPushButton:disabled {
  color:#717171;
}

QSpinBox, QLineEdit, QDoubleSpinBox, QDateTimeEdit {
   color: #ACACAC;
   background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #2A2A2D, stop: 1.0 #212123);
   border: 1px solid #07070B;
   border-radius:   1px;
   padding: 2px;
}

/*QSpinBox::up-arrow, QLineEdit::up-arrow, QDoubleSpinBox::up-arrow, QDateTimeEdit::up-arrow {
   /*padding-top: 2px;
   image: url(r"\\source\source\dev\rebecca\PassMan\code\python\tools\PassMan\resource\up_arrow.png")
}

QSpinBox::down-arrow, QLineEdit::down-arrow, QDoubleSpinBox::down-arrow, QDateTimeEdit::down-arrow {
  /* padding-bottom: 2px;
   image: url("\\source\source\dev\rebecca\PassMan\code\python\tools\PassMan\resource\down_arrow.png")
}*/

QSpinBox::up-button, QLineEdit::up-button, QDoubleSpinBox::up-button, QDateTimeEdit::up-button {
   border: 0px;
   border-left: 1px solid #1C1C1E;
   border-bottom: 1px solid #212124;
}

QSpinBox::down-button, QLineEdit::down-button, QDoubleSpinBox::down-button, QDateTimeEdit::down-button {
   border: 0px;
   border-left: 1px solid #1C1C1E;
   border-top: 1px solid #212124;
}

QTreeView, QTreeWidget, BlurTreeWidget, QListWidget, AccordianWidget {
   background-color: #37383b;
   alternate-background-color: #343538;
}

QTreeView::item, QListView::item, QTreeWidget::item, AccordianWidget:item,
QListWidget::item, BlurTreeWidget::item, BlurListWidget::item {
    border-bottom: 1px solid rgb(46, 47, 50);
    border-left: 1px solid rgb(75, 75, 75);
    height: 20px;
}

QTreeView::item:selected, QListView::item:selected, QTreeWidget::item:selected,
QListWidget::item:selected, BlurTreeWidget::item:selected, BlurListWidget::item:selected {
   /*background-color: #E58A1F;*/
   /*Colin Design Color*/
   /*selection-background-color: #0095FF;*/

   /*Nuke Color*/
   /*selection-background-color: #f1911f;*/

  color: #FFFFFF;
  background-color: #e58a1f;
}

QTreeView::item:disabled{
   color:#717171;
}

QHeaderView::section{
   color: #A5A5A6;
   padding: 4px;
   background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #3C3C3F, stop: 1.0 #343436);
   border: 1px solid #212122;
   border-left: 0px;
   border-radius: 0px;
}

QHeaderView::section:first{
   border-left: 1px solid #212122;
}

QScrollBar {
   background: #1f1f21;
}

QSlider::groove:horizontal {
border: 1px;/* solid #bbb;*/
background: red;
height: 10px;
border-radius: 4px;
}

QSlider::sub-page:horizontal {
/*background: qlineargradient(x1: 0, y1: 0,    x2: 0, y2: 1,
    stop: 0 #66e, stop: 1 #bbf);
background: qlineargradient(x1: 0, y1: 0.2, x2: 1, y2: 1,
    stop: 0 #bbf, stop: 1 #55f);*/
background: green;
border: 1px; /* solid #777;*/
height: 10px;
border-radius: 4px;
}

QSlider::handle:horizontal {
background: qlineargradient(x1:0, y1:0, x2:1, y2:1,
    stop: 0 #a5a5a6, stop: 1.0 #343436);
border: 1px solid #6c6f70;
width: 13px;
margin-top: -2px;
margin-bottom: -2px;
border-radius: 4px;
}

QSlider::handle:horizontal:hover {
background: qlineargradient(x1:0, y1:0, x2:1, y2:1,
    stop:0 #b5b7b4, stop:1 #343436);
border: 1px solid #a2a5a4;
border-radius: 4px;
}
/*
QSlider::handle:horizontal:disabled {
background: #eee;
border: 1px solid #aaa;
border-radius: 4px;
}*/