QWidget {
  background-color: rgb(60, 60, 63);
  color: rgb(202, 202, 202);
}

QListView, QTableView, QTreeView, QLineEdit, QTextEdit, QPlainTextEdit, QAbstractSpinBox, QComboBox:editable {
  background-color: rgb(70, 70, 73);
}

QFrame {
  alternate-background-color: rgb(60, 60, 63);
}

QWidget:disabled {
  color: rgb(88, 91, 94);
}

QPushButton:checked, QPushButton:pressed, QToolButton:checked, QToolButton:pressed{
  background-color: rgb(47, 47, 49);
}

QFrame::item:disabled, QFrame::section:disabled {
  color: rgb(52, 52, 54);
}

QLabel, QToolBox {
  background: none;
}

QScrollBar {
  background-color: rgb(60, 60, 63);
  border-radius: 2px;
}

QScrollBar:horizontal {
  padding: 0 16px 0 16px;
}

QScrollBar:vertical {
  padding: 16px 0 16px 0;
}

QScrollBar::handle, QScrollBar::add-line, QScrollBar::sub-line {
  background-color: rgb(78, 81, 84);
  border-radius: 2px;
  border: 1px solid rgb(33, 33, 36);
}

QScrollBar::handle:horizontal, QScrollBar::add-line, QScrollBar::sub-line {
  background: qlineargradient(y1:0, y2:1, stop:0 rgb(78, 81, 84), stop:1 rgb(60, 60, 63));
}

QScrollBar::handle:vertical {
  background: qlineargradient(x1:0, x2:1, stop:0 rgb(78, 81, 84), stop:1 rgb(70, 70, 73));
}

QScrollBar::handle:active, QScrollBar::add-line:active, QScrollBar::sub-line:active {
  background-color: rgb(88, 91, 94);
}

QScrollBar::handle:horizontal {
  min-width: 16px;
}

QScrollBar::handle:vertical {
  min-height: 16px;
}

QScrollBar::add-line, QScrollBar::sub-line{
  width: 8px;
  height: 8px;
  padding: 3px;
}

QScrollBar::add-line:horizontal {
  subcontrol-position: right;
}

QScrollBar::sub-line:horizontal {
  subcontrol-position: left;
}
QScrollBar::add-line:vertical {
  subcontrol-position: bottom;
}

QScrollBar::sub-line:vertical {
  subcontrol-position: top;
}

QScrollBar::up-arrow, QScrollBar::down-arrow, QScrollBar::left-arrow, QScrollBar::right-arrow {
  width: 0;
  height: 0;
  border: 4px solid rgba(78, 81, 84, 0);
}

QScrollBar::up-arrow {
  border-bottom-color: rgb(202, 202, 202);
  border-top-width: 0;
}

QScrollBar::down-arrow {
  border-top-color: rgb(202, 202, 202);
  border-bottom-width: 0;
}

QScrollBar::left-arrow {
  border-right-color: rgb(202, 202, 202);
  border-left-width: 0;
}

QScrollBar::right-arrow {
  border-left-color: rgb(202, 202, 202);
  border-right-width: 0;
}

QMenu {
  border-style: solid;
  border-color: rgb(25,25,25);
  border-width: 1px;
}

QMenu:unchecked {
  background-color: none;
}

QMenu:checked {
  background-color: none;
}

QMenu:selected {
  background-color: none;
}

DocumentEditor {
  qproperty-pyMarginsForegroundColor: rgb(202, 202, 202);
  qproperty-pyMarginsBackgroundColor: rgb(70, 70, 73);
  qproperty-pySelectionBackgroundColor: rgb(90, 90, 93);
  qproperty-pySelectionForegroundColor: rgb(240, 240, 240);
  qproperty-pyCaretBackgroundColor: rgb(70, 70, 73);
  qproperty-pyCaretForegroundColor: rgb(255, 255, 255);
  qproperty-pyMatchedBraceBackgroundColor: rgb(60, 60, 63);
  qproperty-pyMatchedBraceForegroundColor: rgb(240, 240, 240);
  qproperty-pyUnmatchedBraceBackgroundColor: rgb(70, 70, 73);
  qproperty-pyUnmatchedBraceForegroundColor: rgb(200, 180, 180);
  qproperty-pyEdgeColor: rgb(100, 45, 45);

  qproperty-pyIndentationGuidesBackgroundColor: rgb(70, 70, 73);
  qproperty-pyIndentationGuidesForegroundColor: rgb(102, 153, 204);
  qproperty-pyMarkerBackgroundColor: rgb(45, 255, 45);
  qproperty-pyMarkerForegroundColor: rgb(200, 0, 200);
  qproperty-foldMarginsBackgroundColor: rgb(60, 60, 63);
  qproperty-foldMarginsForegroundColor: rgb(60, 60, 63);
  qproperty-braceBadForeground: rgb(255, 255, 255);
  qproperty-braceBadBackground: rgb(100, 60, 60);

  qproperty-colorDefault: rgb(102, 153, 204);
  qproperty-colorComment: rgb(153, 153, 153);
  qproperty-colorNumber: rgb(249, 145, 87);
  qproperty-colorString: rgb(153, 204, 153);
  qproperty-colorKeyword: rgb(204, 153, 204);
  qproperty-colorTripleQuotedString: rgb(220, 204, 153);
  qproperty-colorMethod: rgb(255, 204, 102);
  qproperty-colorFunction: rgb(132, 203, 255);
  qproperty-colorOperator: rgb(204, 204, 204);
  qproperty-colorIdentifier: rgb(102, 153, 204);
  qproperty-colorCommentBlock: rgb(117, 113, 94);
  qproperty-colorUnclosedString: rgb(255, 255, 255);
  qproperty-colorSmartHighlight: rgb(255, 255, 255);
  qproperty-colorDecorator: rgb(240, 100, 102);
  qproperty-paperDefault: rgb(70, 70, 73);
  qproperty-paperComment: rgb(70, 70, 73);
  qproperty-paperNumber: rgb(70, 70, 73);
  qproperty-paperString: rgb(70, 70, 73);
  qproperty-paperKeyword: rgb(70, 70, 73);
  qproperty-paperTripleQuotedString: rgb(70, 70, 73);
  qproperty-paperMethod: rgb(70, 70, 73);
  qproperty-paperFunction: rgb(70, 70, 73);
  qproperty-paperOperator: rgb(70, 70, 73);
  qproperty-paperIdentifier: rgb(70, 70, 73);
  qproperty-paperCommentBlock: rgb(70, 70, 73);
  qproperty-paperUnclosedString: rgb(100, 60, 60);
  qproperty-paperSmartHighlight: rgba(75, 180, 0, 25);
  qproperty-paperDecorator: rgb(70, 70, 73);
}


ConsolePrEdit {
  color: rgb(255, 255, 255);
  background-color: rgb(70, 70, 73);
}
